/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
background-color: rgb(26, 24, 24);
font-family: 'Comic Sans MS';

}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%; /* Ensures the element is a circle */
  position: fixed;
  bottom: 20px; /* Adjust the distance from the bottom */
  right: 20px; /* Adjust the distance from the right */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; /* Change the text color as desired */
  background-color: #2c2c2c; /* White background for header */
  border: 2px #cccccc solid;
  font-weight: bold;
  color: #cccccc;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.4s;
}


.circle:hover {      
  background-color: rgb(55, 55, 55);
  box-shadow: 0 12px 16px 0 #cccccc1e,0 17px 20px 0 #afafaf14;
  }


.shedtools {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Ensures the element is a circle */
}

a {
  font-size: 20px;
}

header {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align elements at the ends */
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #2c2c2c; /* White background for header */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.356); /* Adding a shadow */
  border-radius: 0px 0px 20px 20px; 
}


nav {
  display: flex;
  align-items: center;
  flex-grow: 1; /* Allow nav to grow and occupy remaining space */
}

.search {
  flex-grow: 1; /* Make the search input grow to fill available space */
  display: flex;
  justify-content: flex-end; /* Align nav links to the right */
}




.nav-links {
  flex-grow: 1; 
  list-style-type: none;
  display: flex;
  justify-content: flex-start; /* Align nav links to the right */
  margin-left: auto; /* Push the links to the right side */
  color: white;
}

.nav-links li {
  margin-left: 30px; /* Adjust spacing between links */
}

nav ul {
  list-style-type: none;
}

nav input {
  display: inline-block;
  margin-left: 20px; /* Adjust spacing between links */
}

nav ul li {
  display: inline-block;
  margin-left: 20px; /* Adjust spacing between links */
}

nav ul li a {
  text-decoration: none;
  color: #cccccc;
  transition: .5s ease;
  padding: 10px 30px;
  border-radius: 5px;
  border: 2px solid #cccccc;
}


.nogger {
border-radius: 10px 10px;
}


.img {
border-radius: 10px 10px;
}

.cont {
background-color: #2c2c2c;
box-shadow: 0 10px 15px rgba(0, 0, 0, 0.356); /* Adding a shadow */
padding: 15px 32px;
padding: 20px;
font-size: 16px;
margin: 4px 2px;
color: #cccccc;
cursor: pointer;
border-radius: 10px;
}

.contr {
  background-color: #2c2c2c;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.356); /* Adding a shadow */
  color: #cccccc;
  border: solid 2px white;
  float: right;
  width: 25%;
  padding: 20px;
  border-radius: 10px;
  }

.fs {
  width: 50px;
  cursor: pointer;
  height: 50px;
}

.fuls {
  all: unset;
}

.iframer {
  height: 400px;
  width: 800px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.356); /* Adding a shadow */
  overflow: hidden;
  float: left;
  border-radius: 10px;
}

a:link { color: #b6b6b6; }
a:visited { color: #b6b6b6; }
a:hover { color: #b6b6b6; }
a:active { color: #b6b6b6; }

.btnwelcome {
  all: unset;
  background-color: #2c2c2c;
  border: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.356); /* Adding a shadow */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  font-size: 16px;
  margin: 4px 2px;
  color: #cccccc;
  width: 80%;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 10px;
  }

.btn {
all: unset;
background-color: #2c2c2c;
border: none;
box-shadow: 0 10px 15px rgba(0, 0, 0, 0.356); /* Adding a shadow */
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
padding: 20px;
font-size: 16px;
margin: 4px 2px;
color: #cccccc;
width: 35%;
cursor: pointer;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
border-radius: 10px;
}

.btn:hover {      
background-color: rgb(55, 55, 55);
box-shadow: 0 12px 16px 0 #cccccc1e,0 17px 20px 0 #afafaf14;
}


.wiwi {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dick {
  width: 150px;
  height: 150px;
  border-radius: 5px 5px;
}

.linkpicture {
  border-radius: 10px;
  width: 20%;
  margin: 20px;
  display: inline-block;
  border-radius: 10px;
}

#myInput {
  background-color: #2c2c2c;
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 200%; /* Define your preferred width */
  font-size: 16px; /* Increase font-size */
  font-family: 'Comic Sans MS';
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border: 2px solid #cccccc;
  border-radius: 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
  text-align: center;
}

#myInput::-webkit-input-placeholder {
 color:#cccccc;
}


#myUL {
  /* Remove default list styling */
  list-style-type: none;
}

#navbar {
  transition: top 0.8s;
  position: fixed;
  width: 100%;
  top: 0;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}


.key {
  text-align: center;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 1px;
}

.games {
  width: 70px;
  height: 70px;
  border-radius: 10px;
}

.ffa {
  color: rgb(0, 0, 0);
}

.container {
  text-align: center;
  margin: 100px;
  margin-top: 20px;
  }

  .container1 {
  text-align: center;
  margin: 40px;
  margin-bottom: 10px;
  z-index: 1000;
  }

.glow-on-hover:active {
color: #545454
}

.logo img {
margin-left: 20px;
margin-right: 20px;
}

.img1 {
  text-decoration: none;
  color: #bd8989;
  transition: .5s ease;
  border-radius: 5px;
  width: 100%;
  width: 180px;
  height: 60px;
  overflow: hidden;
  border: 2px solid #cccccc;
}